@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --main-font-family: 'Noto Sans', sans-serif;
    --bg-color: #121724;
    --font-color: #e5e3f9;
    --font-sub-color: #b5bcbf;
    --highlight-color: #4ec0e3;
    --highlight-color-filtered: invert(73%) sepia(56%) saturate(643%) hue-rotate(162deg) brightness(88%) contrast(103%);
    --bg-card-color: #2b2f40;
    --shadow-color: rgba(0,0,0,0.5);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--main-font-family);
    transition: background-color 0.4s;
}
* {
    box-sizing: border-box;
}
img, video {
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}
    .header__ctas {
        display: flex;
        flex-direction: row;
    }
    .header__logo {
        width: 32px;
        filter: var(--highlight-color-filtered);
    }
    @media screen and (min-width: 960px) {
        .header__logo {
            width: 36px;
        }
    }
    @media screen and (min-width: 1440px) {
        .header__logo {
            width: 44px;
        }
    }
    .header__ctas {
        
    }
    .header__links {
        margin: 0;
        margin-left: 1.25rem;
    }
    .header__links a {
        font-size: 1.8rem;
        margin-right: .45rem;
        color: var(--font-color);
    }
    .header__svg {
        height: 18px;
        filter: var(--highlight-color-filtered);
    }

[data-element="switch"] {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .25rem;
    height: 100%;
}
[data-element="switch"] [type="checkbox"]:checked + .switch:after {
    transform: translateX(100%);
}
[data-element="switch"] [type="checkbox"] {
    position: absolute;
    opacity: 0;
}
[data-element="switch"] .switch {
    position: relative;
    display: inline-flex;
    box-sizing: content-box;
    border-radius: 4rem;
    background-color: var(--bg-card-color);
    border: 2px solid transparent;
    transition: all 0.4s;
}
[data-element="switch"] input[type="checkbox"]:focus + .switch,
[data-element="switch"] .switch:hover {
    cursor: pointer;
    border-color: var(--highlight-color);
}
[data-element="switch"] .switch:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    border-radius: 100%;
    background-color: var(--bg-color);
    box-sizing: border-box;
    transition: all 0.4s;
}

[data-element="switch"] .switch i {
    display: flex;
    width: 28px;
    height: 28px;
    font-size: .95rem;
    line-height: .95rem;
    justify-content: center;
    align-items: center;
    color: var(--main-font-1);
    transform: translateY(1px);
    opacity: .16;
    z-index: 1;
    transition: all 0.4s;
}
@media screen and (min-width: 1440px) {
    [data-element="switch"] .switch i {
        width: 30px;
        height: 30px;
        font-size: 1rem;
        line-height: 1rem;
        transform: translateY(0px);
    }
}
html[data-theme="light"] [data-element="switch"] .switch i[data-element="theme-light-icon"],
html[data-theme="dark"] [data-element="switch"] .switch i[data-element="theme-dark-icon"] {
    opacity: 1;
    color: var(--highlight-color);
}

[data-event="mailto"] {
    padding: 0;
    background: none;
    border: 0 none; 
    cursor: pointer;
}


.main { 
    min-height: calc(100vh - 74px);
}
@media screen and (min-width: 720px) {
    .main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
        .animation,
        .about {
            flex-basis: 100%;
        }
}
@media screen and (min-width: 1800px) {
    .main { 
        min-height: auto;
    }
}

.about {
    /*text-align: center;*/
}
.about__tile {
    padding: 2.2rem 0 0;
    margin: 0;
    font-weight: 600;
    font-size: 2rem;
}
.about__subtitle {
    padding: .2rem 0 0;
    margin: 0;
}
.about__desc {
    padding: 1.8rem 0 0;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--font-sub-color);
    max-width: 360px;
}
.about__contact {
    padding: 2rem 0 0;
    margin: 0;
    font-weight: 400;
    font-size: 1.15rem;
}
.about__links {
    margin: .8rem 0 0;
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
.about__links a {
    margin-right: .75rem;
}
.about__svg {
    height: 29px;
    filter: var(--highlight-color-filtered);
}
.about__link--email .about__svg {
    height: 26px;
}
@media screen and (min-width: 960px) {
    .about__tile {
        font-size: 3.4rem;
    }
    .about__subtitle {
        font-size: 1.85rem;
    }
    .about__desc {
        font-size: 1.1rem;
        max-width: 560px;
    }
    .about__contact {
        font-size: 1.6rem;
    }
    .about__links a {
        margin-right: 1.15rem;
    }
    .about__svg {
        height: 35px;
    }
    .about__links {
        gap: 1.5rem;
    }
    .about__link--email .about__svg {
        height: 31px;
    }
}
@media screen and (min-width:1800px) {
    .about__tile {
        font-size: 4rem;
    }
    .about__subtitle {
        font-size: 2.4rem;
    }
    .about__desc {
        font-size: 1.3rem;
        max-width: 680px;
    }
    .about__contact {
        font-size: 2rem;
        padding-top: 4rem;
    }
    .about__links a {
        margin-right: 1.25rem;
    }
    .about__svg {
        height: 42px;
    }
    .about__link--email .about__svg {
        height: 37px;
    }
}

.animation {
    padding: 4rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.animation__cube {
    opacity: 1;
    width: 160px;
    height: 160px;
    z-index: 1;
}
.animation__shadow {
    width: 130px;
    height: 130px;
    border-radius: 150px;
    background-color: var(--bg-card-color);
}
@media (prefers-reduced-motion: reduce) {
    .animation__shadow {
        transform: rotateX(59deg) scale(.85) translateY(-7rem);
    }
}
@media (prefers-reduced-motion: no-preference) {
    .animation__cube {
        animation-name: cubefloating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        -webkit-backface-visibility: hidden;
    }
    .animation__shadow {
        animation-name: floatingshadow;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
}
@media screen and (min-width: 960px) {
    .animation__cube {
        width: 250px;
        height: 250px;
    }
    .animation__shadow {
        width: 200px;
        height: 200px;
    }
}
@media screen and (min-width: 960px) {
    .animation__cube {
        width: 300px;
        height: 300px;
    }
    .animation__shadow {
        width: 225px;
        height: 225px;
    }
}
@keyframes cubefloating {
    from {
        transform: translate3d(0,0,0);
    }
    to {
        transform: translate3d(0,30%,0);
    }
}
@keyframes floatingshadow {
    100% {
        transform: rotateX(59deg) scale(1);
    }
    0% {
        transform: rotateX(59deg) scale(0.75);
    }
}

.more {
    background-color: var(--bg-card-color);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.more__title {
    margin: 0;
}
.more__par {
    padding: 1rem 0 0;
    margin: 0;
    font-weight: 400;
    font-size: .95rem;
    color: var(--font-sub-color);
}
@media screen and (min-width: 960px) {
    .more {
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }
    .more__par {
        font-size: 1.1rem;
        max-width: 800px;
    }
}
@media screen and (min-width: 1800px) {
    .more {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .more__par {
        font-size: 1.3rem;
    }
}

.skills__tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skills__table {
    margin: 0 .75rem 1.75rem;
    display: flex;
    align-items: flex-start;
}
.skills__logowrapper {
    background-color: var(--bg-card-color);
    padding: 1.1rem;
    margin: 0;
    border-radius: 999px;
    flex-shrink: 0;
}
.skills__logo {
    width: 43px;
    margin: 1px;
    display: block;
    filter: var(--highlight-color-filtered);
}
.skills__logo--smaller {
    width: 45px;
    margin: 0px;
}
.skills__texts {
    text-align: left;
    padding: 0 1rem;
}
.skills__subtitle {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: .95rem;
}
.skills__list {
    list-style: none;
    padding: 0;
    margin: .5rem 0 0;
    width: 130px;
}
.skills__item {
    font-size: .95rem;
    text-align: left;
    color: var(--font-sub-color);
}
@media screen and (min-width: 960px) {
    .skills__logowrapper {
        padding: 1.45rem;
    }
    .skills__logo {
        width: 43px;
        margin: 1.5px;
    }
    .skills__logo--smaller {
        width: 46px;
        margin: 0px;
    }
    .skills__subtitle {
        font-size: 1.1rem;
    }
    .skills__item {
        font-size: .95rem;
    }
}
@media screen and (min-width: 1800px) {
    .skills__logowrapper {
        padding: 2.2rem;
    }
    .skills__logo {
        width: 72px;
        margin: 5px;
    }
    .skills__logo--smaller {
        width: 82px;
        margin: 0;
    }
    .skills__subtitle {
        font-size: 1.30rem;
    }
    .skills__item {
        font-size: 1.05rem;
    }
}


.projects {
    position: relative;
    transition: all 0.4s;
    margin-top: 1rem;
}
.projects + .projects {
    margin-top: 3rem;
}
#projects-section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
    overflow: hidden;
}
    .project {
        /*overflow: hidden;*/
        color: var(--font-sub-color);
        width: 100%;
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
    .project + .project {
        margin-top: 3rem;
    }
        .project__info {
            background-color: var(--bg-card-color);
            position: relative;
        }
        .project__wrapper {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            height: 100%;
        }
            .project__preview {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 60%;
                height: 100%;
                overflow: hidden;
                z-index: 0;
                
                background-position: 0 0;
                background-repeat: no-repeat;
                opacity: .15;
                filter: grayscale(100%);
                -webkit-mask-image: linear-gradient(to right, transparent 0%, black 75%);
                mask-image: linear-gradient(to right, transparent 0%, black 75%);
            }
                .project-preview__picture {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                    .project-preview__img {
                        position: absolute;
                        display: block;
                        min-width: initial;
                        min-height: 100%;
                        max-width: inherit;
                    }
        .project__title {
            position: relative;
            display: block;
            color: var(--highlight-color);
            margin: 0 0 .5rem;
            font-weight: 400;
            font-size: 1.15rem;
        }
        .project__summary {
            position: relative;
            display: block;
            color: var(--font-sub-color);
            margin: 0 0 0;
            font-size: .95rem;
            transition: color 0.4s;
            max-width: 700px;
        }
        summary.project__summary {
            text-shadow: 2px 1px 3px var(--bg-card-color);
        }
        .project__summary p {
            margin-top: 0;
        }
        .project__summary--heading {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 1rem;
        }
        .project__stack {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 0 .85rem;
            padding: 0;
            align-items: center;
            list-style: none;
            margin: auto 0 0;
            font-size: .75rem;
            font-family: 'Roboto Mono', monospace;
            opacity: .7;
        }
        .project__btn {
            display: inline-block;
            font-weight: 300;
            font-size: 1.8rem;
            border-radius: .25rem;
            text-decoration: none;
            margin-bottom: .5rem;
            transition: all 0.4s;
        }
        .project__btn + .project__btn {
            margin-left: 1.15rem;
        }
        .project-imgs {
            position: relative;
        }
            .project-imgs__preview {
                position: relative;
                margin: 1rem 0 0;
                display: inline-block;
                border: 5px solid var(--bg-card-color);
                border-radius: 20px;
                background-color: var(--bg-card-color);
                transition: all .5s;
            }
            .project-imgs__preview.mobile {
                padding-bottom: 3vw;
                padding-top: 4vw;
                position: absolute;
                width: 35%;
                right: 0;
                
                -webkit-box-shadow: -8px 0px 10px -4px var(--shadow-color);
                box-shadow: -8px 0px 10px -4px var(--shadow-color);
                z-index: 1;
            }
            .project-imgs__preview.mobile .project-imgs__img {
                
            }
            .project-imgs__preview.desktop {
                padding-bottom: 4.5vw;
                width: 75%;
                margin-top: 2.5rem;
            }
            .project-imgs__preview.desktop .project-imgs__img {
                
            }
            .project-imgs__picture {
                display: block;
                overflow: hidden;
                border-radius: 17px;
                border: 6px solid var(--bg-color);
            }
            .project-imgs__img {
                display: block;
                opacity: .4;
                filter: grayscale(100%);
                transition: all .8s;
            }
            .project-imgs__preview:hover {
                background-color: var(--highlight-color);
                border-color: var(--highlight-color);
                scale: 110%;
            }
            .project-imgs__preview:hover .project-imgs__img {
                opacity: 1;
                filter: grayscale(0%);
            }

    @media screen and (min-width: 440px) {
        .project-imgs__preview.mobile {
            width: 29%;
        }
    }
    @media screen and (min-width: 660px) {
        .project {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
        }
        .project > section {
            flex-grow: 1;
            flex-basis: 0;
        }
        .project-preview__img {
            transform-origin: top left;
            transform: scale(.56);
        }
        .project-imgs__preview.desktop {
            width: 88%;
            margin-top: 0rem;
            padding-bottom: 2rem;
        }
        .project-imgs__preview.mobile {
            width: 31%;
            padding-top: 1rem;
            padding-bottom: 1.4rem;
        }
    }
    @media screen and (min-width: 960px) {
        .projects + .projects {
            margin-top: 5rem;
        }
        .project {
            gap: 3rem;
        }
        .project > section {
            flex: 1 1 auto;
        }
        .project > section.project-imgs {
            width: 46%
        }
        .project__title {
            font-size: 1.3rem;
            margin: 0 0 1rem;
        }
        .project__summary {
            font-size: .95rem;
            margin-bottom: 0;
        }
        .project__summary--heading {
            margin-top: 1rem;
        }
        .project__btn {
            font-size: 1.8rem;
        }
        .project-preview__img {
            transform: scale(.66);
        }
    }
    @media screen and (min-width: 1440px) {
        .project > section.project-imgs {
            max-width: 540px;
            flex-grow: 0;
        }
    }
    @media screen and (min-width: 1800px) {
        .projects + .projects {
            margin-top: 6rem;
        }
        .project > section.project-imgs {
            
        }
        .project__title {
            font-size: 1.6rem;
            margin: 0 0 1.5rem;
        }
        .project__summary {
            font-size: 1.05rem;
            margin-bottom: 0;
        }
        .project__summary--heading {
            margin-top: 1.5rem;
        }
        .project__btn {
            font-size: 2.5rem;
        }
        .project__stack {
            font-size: .9rem;
        }
        .project__btn {
            margin-bottom: 1rem;
        }
        .project__btn + .project__btn {
            margin-left: 1.25rem;
        }
    }

.footer {
    margin-top: 6rem;
}
.footer__cube {
    margin: 4rem auto 0;
    width: 70px;
}
.footer__cubeimg {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
}
.footer__cube:hover .footer__cubeimg {
    transform: translateY(-1rem);
}
.footer__cubeshadow {
    display: block;
    margin: 0 auto;
    width: 65%;
    aspect-ratio: 1 / 1;
    border-radius: 150px;
    background-color: var(--bg-card-color);
    transform: rotateX(59deg) translateY(-66%);
    transition: all 0.5s;
}
.footer__cube:hover .footer__cubeshadow {
    transform: scale(85%) rotateX(59deg) translateY(-66%);
}
.footer__links {
    margin: 3rem 0 0;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: baseline;
    list-style: none;
    padding: 0;
}
.footer__svg {
    height: 32px;
    filter: var(--highlight-color-filtered);
}
.footer__link--email .footer__svg {
    height: 28px;
}
.footer__author {
    color: var(--font-color);
    font-size: .8rem;
    font-style: normal;
    margin: 3rem 0 0;
}
.footer__date {
    display: block;
    color: var(--font-sub-color);
    font-size: .7rem;
}
@media screen and (min-width: 960px) {
    .footer {
        margin-top: 9rem;
    }
    .footer__cube {
        width: 100px;
    }
    .footer__svg {
        height: 38px;
    }
    .footer__link--email .footer__svg {
        height: 33px;
    }
    .footer__author {
        font-size: .9rem;
    }
    .footer__date {
        font-size: .8rem;
    }
}
@media screen and (min-width: 1800px) {
    .footer {
        margin-top: 12rem;
    }
    .footer__cube {
        width: 120px;
    }
    .footer__links {
        gap: 4rem;
    }
    .footer__svg {
        height: 42px;
    }
    .footer__link--email .footer__svg {
        height: 37px;
    }
    .footer__author {
        font-size: 1rem;
    }
    .footer__date {
        font-size: .9rem;
    }
}