/*
    - THEME
    - Light Theme
*/

[data-theme="light"] {
    --bg-color: #f3f5f7; /* alt:#e9eaeb */
    --font-color: #202d4e;
    --font-sub-color: #747e83;
    --highlight-color: #2fa7cc;
    --highlight-color-filtered: invert(51%) sepia(92%) saturate(322%) hue-rotate(147deg) brightness(93%) contrast(103%);
    --bg-card-color: rgba(181, 182, 201, 0.3);
}

