/*
    - THEME
    - Light Theme
*/

[data-theme="light"] {
    --bg-color: #f3f5f7; /* alt:#e9eaeb */
    --font-color: #202d4e;
    --font-sub-color: #747e83;
    --highlight-color: #2fa7cc;
    --highlight-color-filtered: invert(51%) sepia(92%) saturate(322%) hue-rotate(147deg) brightness(93%) contrast(103%);
    --bg-card-color: #e1e2e9;
    --shadow-color: rgba(0,0,0,0.25);
}

[data-theme="light"] .project-imgs__img {
    opacity: .5;
}
[data-theme="light"] .project__info:before {
    opacity: .2;
}